<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                Posts: <span id="numberOfPosts">{{ numberOfPosts }}</span>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ path('export-cvs') }}" class="btn btn-info" role="button">Export CVS</a>
                <a href="{{ path('export-excel') }}" class="btn btn-success" role="button">Export Excel</a>
                <a href="{{ path('export-zip') }}" class="btn btn-success" role="button">Export Zip</a>
            </div>
            <div class="col-md-4 text-right">
                Views: <span id="numberOfViews">{{ numberOfViews }}</span>
            </div>
        </div>
    </div>
</nav>
{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}